:root{
    --mainColor: 	#f1f0ea;
    --secondaryColor: #fff;

    --borderColor: #2f3234;

    --mainText: black;
    --secondaryText: #2f475a; 

}


html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

p, li, span, label, input, textarea, a{
    color: var(--secondaryText);
    font-family: 'Josefin Sans', sans-serif;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

a{
    text-decoration: none;
    color: #0250aa;
}

ul{
    list-style: none;
}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1500px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10am;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 11px 0px 46px -9px rgba(29, 43, 204, 1);
    -moz-box-shadow: 11px 0px 46px -9px rgba(29, 43, 204, 1);
    box-shadow: 11px 0px 46px -9px rgba(29, 43, 204, 1);

    display: grid;
    grid-template-rows: 3em 30em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column';
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot1{
    background-color: #0250aa;
}
#dot2{
    background-color: #005e17;
}
#dot3{
    background-color: #aa0202;
}

.browser-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: 11px 0px 46px -9px rgba(29, 43, 204, 1);
    -moz-box-shadow: 11px 0px 46px -9px rgba(29, 43, 204, 1);
    box-shadow: 11px 0px 46px -9px rgba(29, 43, 204, 1);

}


.left-column{
    grid-area: left-column;
 
}

.right-column{
    grid-area: right-column;

}

/* making that screen is adjusting to the width of the frame - close to the mobiles */
@media screen and (max-width: 1500px ) {
    .main-container{
        width: 95%;
    }
}