:root {
    --mainColor: #71d438;
    --secondaryColor: #45ac09af;

    --borderColor: #161914;
    --themeDotBorder: #fff;
    --previewBg: rgba(59, 116, 3, 0.8);
    --previewShadow: #2c58026e;

    --mainText: rgb(0, 81, 92);
    --secondaryText: #05186e;
    --linkText: #5b0375;

    --buttonColor: #065806;
}
